@using SJNScaffolding.Extend
@using SJNScaffolding.Models.CollectiveType
@model SJNScaffolding.Models.TemplateModels.CreateOrUpdateViewModel
@RazorHelper.RawHtml("@{Layout=null;}")
<div class="layui-layer-content">
    <form id="editForm">
        <table class="kv-table">
            <input id="Id" name="Id" type="hidden" />
            @for (int i=0;i<Model.TypeColumnNames.Count;i++)
            {
                var item = Model.TypeColumnNames[i];
                if (item.IsColspan3 == true||item.IsWebUploadContorl==true)
                {
                    <tr>
                        <td class="kv-label">@item.ColumnsNameRemark</td>
                        <td class="kv-content" colspan="3">
                            @if(item.IsWebUploadContorl==true)
                            {
                                <div id="@(item.ColumnName)" style="position:relative"></div>
                            }
                            else
                            {
                                switch(item.ClassName)
                                {
                                    case EasyuiForm.textbox:
                                      @(string.Format("<input id=\'{0}\' name=\'{0}\' class=\'{1}\' style=\'width:560px\'/>",item.ColumnName,item.ClassName))
                                    break;
                                    case EasyuiForm.combo:
                                    case EasyuiForm.combobox:
                                    case EasyuiForm.numberbox:
                                        @(string.Format("<input id=\'{0}\' name=\'{0}\' style=\'width:560px\' data-options=\'{1}\'/>",item.ColumnName))
                                    break;
                                    
                                    default:break;
                                }
                            }
                        </td>
                    </tr>
                }
                else
                {
                    i++;
                    <tr>
                        <td class="kv-label">@item.ColumnsNameRemark</td>
                        <td class="kv-content" @(i<Model.TypeColumnNames.Count?"":"colspan='3'")>
                            <input id="@item.ColumnName" name="@item.ColumnName" class="@item.ClassName" />
                        </td>
                            @if (i< Model.TypeColumnNames.Count)
                            {

                                item = Model.TypeColumnNames[i];
                                <td class="kv-label">@item.ColumnsNameRemark</td>
                                <td class="kv-content" >
                                    <input id="@item.ColumnName" name="@item.ColumnName" class="@item.ClassName" >
                                </td>
                            }
                    </tr>
                }
            }
        </table>
    </form>
</div>